<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop rescap">
  <Identity
    Name="Filespace233"
    Publisher="CN=Filespace233"
    Version="1.0.0.0" />
  <Properties>
    <DisplayName>Filespace</DisplayName>
    <PublisherDisplayName>neko233-com</PublisherDisplayName>
    <Description>Fast, keyboard-first file workspace for Windows.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        AppListEntry="default"
        DisplayName="Filespace"
        Description="Fast, keyboard-first file workspace for Windows."
        BackgroundColor="#101317"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="Filespace233.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="FilespaceStartup" Enabled="false" DisplayName="Start Filespace with Windows" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
